[submodule "OpenGL-Core/vendor/glfw"]
	path = OpenGL-Core/vendor/glfw
	url = https://github.com/LaneCeea/glfw
[submodule "OpenGL-Core/vendor/imgui"]
	path = OpenGL-Core/vendor/imgui
	url = https://github.com/LaneCeea/imgui
